    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <span class="copyright">Harman Singh 2016</span>
                </div>
                <div class="col-md-9">
                    <ul class="list-inline quicklinks">
						<li><a href="/stats">Statistics</a>
                        <li><a href="http://www.williamcolenso.co.nz/about-william-colenso/the-colenso-society">Colenso Society</a>
                        </li>
                        <li><a href="http://www.victoria.ac.nz/">Victoria University of Wellington</a>
                        </li>
						<li><a href="http://www.mtghawkesbay.com/">MTG Hawke's Bay</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>