<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Statistics</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
							
                                <span id="stat-icon" class="fa-stack fa-5x">
									<i class="fa fa-circle fa-stack-2x text-primary"></i>
									<i class="fa fa-university fa-stack-1x fa-inverse"></i>
								</span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{documentsViewed}} </h4>
                                    <h4 class="subheading">Documents Viewed</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Go To <a href="/explore" class="page-scroll">Explore</a> to search for many documents</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span id="stat-icon" class="fa-stack fa-5x">
									<i class="fa fa-circle fa-stack-2x text-primary"></i>
									<i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
								</span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{documentsUploaded}}</h4>
                                    <h4 class="subheading">Documents Uploaded</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Go To <a href="/contribute" class="page-scroll">Contribute</a> to upload documents</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <span id="stat-icon" class="fa-stack fa-5x">
									<i class="fa fa-circle fa-stack-2x text-primary"></i>
									<i class="fa fa-binoculars fa-stack-1x fa-inverse"></i>
								</span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Top 100 Searches</h4>
                                    <h4 class="subheading">Click <a href="#queriedTable" class="page-scroll">Here</a> to see top searched documents</h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span id="stat-icon" class="fa-stack fa-5x">
									<i class="fa fa-circle fa-stack-2x text-primary"></i>
									<i class="fa fa-folder-open fa-stack-1x fa-inverse"></i>
								</span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Top 100 Opened</h4>
                                    <h4 class="subheading">Click <a href="#openedTable" class="page-scroll">Here</a> to see the top opened documents</h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Thank you 
                                    <br>for your
                                    <br>Help!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
	
	
	
	<section id="queriedTable">
	
        <div class="container">		
		<div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Most Common Searchterms</h2>
                </div>
            </div>
		<div class="col-md-8 col-md-offset-2">
			<a  class="download-link" href="/stats/downloadQueries" >Download All</a>
            <table id="query-table" class="table table-striped table-bordered table-responsive">
				<thead>
					<tr>
					<th>Occurrence</th>
					<th>Search</th>
					</tr>
				</thead>
				<tbody>
					{% for query in mostQueried %}
					<tr>
						{% if query.occurrence %}
							<td>{{query.occurrence}}</td>
						{% endif %}						
						{% if query.query %}
							<td>{{query.query}}</td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
			</div>
        </div>
    </section>
	
	<section id="openedTable" >
	
        <div class="container">		
			<div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Most Opened Documents</h2>
                </div>
            </div>
			<div class="col-md-8 col-md-offset-2">
			<a  class="download-link" href="/stats/downloadDoc" >Download All</a>
            <table id="opened-table" class="table table-striped table-bordered table-responsive">
				<thead>
					<tr>
					<th>Occurrence</th>
					<th>Author</th>
					<th>Filetype</th>
					<th>Title</th>
					</tr>
				</thead>
				<tbody>
					{% for link in mostOpened %}
					<tr>
						{% if link.occurrence %}
							<td>{{link.occurrence}}</td>
						{% endif %}	
						{% if link.author %}
							<td>{{link.author | replace("_", " ") | capitalize}}</td>
						{% elif link.author == '' %}
							<td>Unknown Author</td>
						{% endif %}	
						
						{% if link.filetype %}
							<td>{{link.filetype | replace("_", " ") | capitalize}}</td>
						{% endif %}	
								
						<td><a href="{{link.path}}">{{link.title}}</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			</div>
        </div>
    </section>