<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Statistics - Colenso Project</title>

	
	<!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/agency.css" rel="stylesheet">
	
	<!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
	<!-- Datatables CSS -->
	<link rel="stylesheet" type="text/css" href="/static/DataTables-1.10.11/css/dataTables.bootstrap.min.css"/>
	
    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
</head>
<body id="page-top" class="index">
    {% include "includes/header.html" %}
	
    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Statistics</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
							
                                <span id="stat-icon" class="fa-stack fa-5x">
									<i class="fa fa-circle fa-stack-2x text-primary"></i>
									<i class="fa fa-university fa-stack-1x fa-inverse"></i>
								</span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{documentsViewed} </h4>
                                    <h4 class="subheading">Documents Viewed</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Go To {explorelink} to search for many documents</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span id="stat-icon" class="fa-stack fa-5x">
									<i class="fa fa-circle fa-stack-2x text-primary"></i>
									<i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
								</span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{documentsUploaded}</h4>
                                    <h4 class="subheading">Documents Uploaded</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Go To {uploadelink} to upload documents</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <span id="stat-icon" class="fa-stack fa-5x">
									<i class="fa fa-circle fa-stack-2x text-primary"></i>
									<i class="fa fa-binoculars fa-stack-1x fa-inverse"></i>
								</span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Top 100 Searches</h4>
                                    <h4 class="subheading">Click {Here} to see top searched documents</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span id="stat-icon" class="fa-stack fa-5x">
									<i class="fa fa-circle fa-stack-2x text-primary"></i>
									<i class="fa fa-folder-open fa-stack-1x fa-inverse"></i>
								</span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Top 100 Opened</h4>
                                    <h4 class="subheading">Click {Here} to see the top opened documents</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Thank you 
                                    <br>for your
                                    <br>Help!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
	
	
	
	<section id="data"  class="bg-light-gray">
	
        <div class="container">		
			
            <table id="example-table" class="table table-striped table-bordered table-responsive">
				<thead>
					<tr>
					<th>Top Queries</th>
					</tr>
				</thead>
				<tbody>
					{% for link in links %}
					<tr>
						{% if link.query %}
							<td>{{link.query}}</td>
						{% endif %}							
					</tr>
					{% endfor %}
				</tbody>
			</table>
        </div>
    </section>
	
	<section id="data"  class="bg-light-gray">
	
        <div class="container">		
			
            <table id="example-table" class="table table-striped table-bordered table-responsive">
				<thead>
					<tr>
					<th>Top Viewed</th>
					</tr>
				</thead>
				<tbody>
					{% for link in links %}
					<tr>
						{% if link.query %}
							<td>{{link.query}}</td>
						{% endif %}							
					</tr>
					{% endfor %}
				</tbody>
			</table>
        </div>
    </section>
	
	
</body>


	{% include "includes/footer.html" %}
    
	<!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/js/classie.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/agency.js"></script>
	
	<script type="text/javascript" src="/static/DataTables-1.10.11/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/static/DataTables-1.10.11/js/dataTables.bootstrap.min.js"></script>
	
</html>